body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    padding: 64px;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
    .card {
        width: 350px;
        padding: 16px;
        border: 1px solid black;
        border-radius: 8px;
        
        input {
            width: 342px;
        }
        
        .buttons {
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            
            input {
                width: 100%;
            }
        }
    }
}